<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta charset="utf-8">
<link href="/static/shiny_squirrel.css" rel="stylesheet">
<link href="/static/bootstrap.min.css" rel="stylesheet">
</head><body>

<div class="container">
  <div class="row">
    <div id="total-graph"></div>
  </div>
  <div class="row">
    <div id="service-graph"></div>
  </div>
  <div class="row" id="packet_row">
    <div>
      <ul id="packets" class="list-group">
      </ul>
    </div>
  </div>
</div>

<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/d3.js"></script>
<script src="/static/shiny_squirrel.js"></script>
</body></html>
